<div class="jumbotron">
    <div ng-if="vm.isAlert" class="alert alert-danger" role="alert">{{ vm.alertMessage }}</div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                名称:
                <input type="text" ng-model="vm.title" class="form-control" id="recipient-name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>候选</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <button class="btn btn-primary" ng-click="vm.newRest()">新增</button>
                </li>
                <li ng-repeat="rest in vm.rests" style="cursor:pointer" class="list-group-item" ng-class="{'list-group-item-success':rest.selected}" ng-click="vm.select(rest)">
                    <span class="badge">14</span> {{ rest.name }}
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>已选择</h3>
            <h4 ng-if="selectedRests.length<=0"></h4>
            <ul class="list-group">
                <li ng-repeat="rest in vm.selectedRests" class="list-group-item list-group-item-success">
                    <i style="cursor:pointer" class="glyphicon glyphicon-remove" ng-click="vm.removeRest(rest)"></i> {{ rest.name }}
                </li>
            </ul>
            <button class="btn btn-primary" ng-if="vm.selectedRests.length>0" ng-click="vm.publish()">发布</button>
        </div>
    </div>
</div>
