<div class="jumbotron">
    <a href="#/design">设计</a>
    <div class="row">
        <div class="col-md-12">
            <h3>候选</h3>
            <ul class="list-group">
                <li class="list-group-item cursor">
                    Summer
                </li>
                <li class="list-group-item cursor">
                    Winter
                </li>
                <li class="list-group-item cursor">
                    Spring
                </li>
            </ul>
        </div>
    </div>
</div>
